#transporteBtn, .goBackBtn {
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.022, 0.736, 0.198, 0.997);
}

#transporteBtn:hover, .goBackBtn:hover {
    scale: calc(1.05);
}

#averageBtn {
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.022, 0.736, 0.198, 0.997);
}

#averageBtn:hover {
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.022, 0.736, 0.198, 0.997);
}