.register-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 0;
  background: white;
  opacity: 0;
  transition: all 1.25s;
  transition-timing-function: cubic-bezier(0.813, 0.008, 0.167, 0.992);
  overflow: hidden;
}

    .register-panel.slide-in {
    width: 55%;
    opacity: 1;
    }

    .register-container {
    display: flex;
    justify-content: center;
    padding: 1rem;
    }

    .register-card {
    background: #E1E8F6;
    border-radius: 1rem;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
    padding: 3.5rem;
    width: 100%;
    max-width: 28rem;
    position: relative;
    }

    .register-card h2 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #1C1C8A;
    margin: 0 0 1.5rem 0;
    }

/* Botão Registar */
