* {
  font-family: "Alexandria", sans-serif;
}

.container {
  position: fixed;
  inset: 0;
  background: #1a1a1a;
  overflow: hidden;
}

/* Purple Panel */
.purple-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #1C1C8A;
  transition: width 1.25s;
  transition-timing-function: cubic-bezier(0.813, 0.008, 0.167, 0.992);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.purple-panel.slide-left {
  width: 45%;
}

.brand {
  color: white;
  text-align: center;
}

.bus-icon {
  width: 20rem;
  margin: 0 auto;
}

.brand h1 {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}

.button-group {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  width: 20rem;
  opacity: 1;
}

  .button-group.slide-left {
    opacity: 0;
    pointer-events: none;
  }

.btn-primary {
  width: 100%;
  background: white;
  color: #1C1C8A;
  font-weight: 400;
  font-size: 1.35ch;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: 2s;
}

.btn-primary span:first-child {
  flex: 1;
  text-align: center;
  margin-left: 40px;
}

.btn-primary:hover {
  background: #f3f4f6;
  transform: scale(1.05, 1.05);
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.022, 0.736, 0.198, 0.997);
}

.btn-link {
  width: 100%;
  background: transparent;
  color: white;
  padding: 0.5rem;
  border: none;
  font-family: "Alexandria", sans-serif;
  font-weight: 300;
  font-size: 0.875rem;
  cursor: pointer;
}

.btn-link:hover {
  transform: scale(1.05, 1.05);
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.022, 0.736, 0.198, 0.997);
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem; 
  height: 2.5rem;
  border-radius: 50%;
  padding: 0.2rem;
}

.arrow img{
  width: 100%;
  height: 100%;
  margin-left: 15px;
  transform: rotate(180deg);
}

/* Login Panel */
.login-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 0;
  background: white;
  opacity: 0;
  transition: all 1.25s;
  transition-timing-function: cubic-bezier(0.813, 0.008, 0.167, 0.992);
  overflow: hidden;
}

.login-panel.slide-in {
  width: 55%;
  opacity: 1;
}

.login-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.login-card {
  background: #E1E8F6;
  border-radius: 1rem;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
  padding: 3.5rem;
  width: 100%;
  max-width: 28rem;
  position: relative;
}

.backBtn {
  position: absolute;
  top: 3rem;
  right: 3rem;
  cursor: pointer;

  /* tirar butao html / deixar apenas o SVG */
  background: none;
  border: none;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

  .backBtn img {
    width: 3rem;
    display: block;
    transition: 0.2s;
  }

  .backBtn img:hover {
    scale: 1.1;
    opacity: 0.8;
    transition-timing-function: cubic-bezier(0.022, 0.736, 0.198, 0.997);
  }

.login-card h2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #1C1C8A;
  margin: 0 0 1.5rem 0;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  color: #1F1E26;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
}

.form-group input {
  width: 100%;
  height: 4rem;
  padding: 1rem 1rem;
  border-radius: 1.1rem;
  border-color: white;
  font-size: 0.9rem;
  box-sizing: border-box;
}

.form-group input:focus {
  outline: none;
  border-color: #4338ca;
  box-shadow: 0 0 0 3px rgba(67, 56, 202, 0.1);
}

.forgot-password {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
  margin-bottom: 3rem;
  font-size: 14px;
  color: #171766;
}

.forgot-password:hover {
  text-decoration: underline;
}

.btn-submit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 75%;
  background: #1C1C8A;
  color: #E1E8F6;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 0.75rem;
  font-weight: 400;
  gap: 0.5rem;
  cursor: pointer;
  transition: 0.2s;
}

  .btn-submit span:first-child{
    flex: 1;
    text-align: center;
    letter-spacing: 1.5px;
    margin-left: 40px;
  }

  .btn-submit img{
    width: 2.5rem;
  }

  .btn-submit:hover {
    transform: scale(1.04, 1.04);
    opacity: 85%;
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0.022, 0.736, 0.198, 0.997);
  }

.divider {
  position: relative;
  margin: 1.5rem 0;
  text-align: center;
}

.divider span {
  position: relative;
  padding: 0 0.5rem;
  font-size: 0.75rem;
  color: #6b7280;
}

.btn-google {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  padding: 0;
  width: 100%;
}

  .btn-google img {
    width: 4rem;
    cursor: pointer;
  }

  .btn-google img:hover {
    filter: grayscale(100%);
    scale: 1.05;
    transition: 1s;
    transition-timing-function: cubic-bezier(0.022, 0.736, 0.198, 0.997);
  }

.register-prompt {
  text-align: center;
  margin-top: 5rem;
}

.register-prompt p {
  font-size: 0.875rem;
  color: #171766;
  margin: 0 0 0.5rem 0;
}

.btn-register {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 50%;
  background: #1C1C8A;
  color: #E1E8F6;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 0.75rem;
  font-weight: 400;
  letter-spacing: 1.5px;
  gap: 0.5rem;
  cursor: pointer;
  transition: 0.2s;
}

  .btn-register img{
    width: 2.3rem;
    rotate: 180deg;
  }

  .btn-register:hover {
    transform: scale(1.03, 1.03);
    opacity: 85%;
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0.022, 0.736, 0.198, 0.997);
  }