.goBackBtn{
    width: 4vw ;
}

.Btn{
    font-size: 1vw;
    border: 0;
    background-color: #1C1C8A;
    color:white;
    font-family: 'Alexandria';
    padding:1vw;
    width: 100%;
    max-width: 20%;
    border-radius: 0.4vw;
    margin-bottom: 1vw;
    cursor: pointer;
}

.iconArrow{
    width: 0.5vw;
}

.alignButtons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}

.cardContainer{
    width: 30vw;
    height: 40vh;
    background-image: url(../public/icons/cardGreen.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.cardFlex{ display: flex;}
.cardAvatar{
 margin: 1.5vw;
}
.cardFlexColumn{ display: flex; flex-direction: column; margin-top: 3vw;}
.cardNome, .cardPass, .cardModalidade{margin: 0; color: white}
.cardJustify{justify-content: space-between;}
.cardPass,.cardModalidade{margin: 2vw;}
.cardImageTrain{ margin-left: 2vw;}

.limparNotifications{
    display: flex;
    justify-content: end;
    align-items: center;
}

.btnLimparNotifications{
    margin-left: 0.5vw;
}

.btnLimparNotifications:hover{
    cursor: pointer;
}
.limparNotifications img{
   width: 1.5vw;
}