.passes-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.pass-card {
     width: 17vw;
    padding: 1.5vw;
    border-radius: 1vw;
    background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 99%,rgba(32,124,202,1) 99%);   color: #ffffff;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    font-family: "Inter", sans-serif;
}

.pass-header {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 20px;
}

.avatarPass {
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  background: #ffffff;
  color: #3bbf9b;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-info h3 {
  margin: 0;
  font-size: 1vw;
  font-weight: 600;
}

.user-info p {
  margin: 2px 0 0;
  font-size: 0.7vw;
  opacity: 0.9;
}

.pass-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.5vw;
  column-gap: 10px;
}

.pass-row {
  display: flex;
  flex-direction: column;
}

.pass-row .label {
  font-size: 0.7vw;
  opacity: 0.85;
}

.pass-row span:last-child {
  font-size: 0.7vw;
  font-weight: 500;
}

.passIcon{
    margin-left: 5vw;
    width: 1.5vw;
}
.passTrainIcon{
    margin-left: 4vw;
    width: 2.5vw;
}

.pass-cardTrain {
    width: 17vw;
    padding: 1.5vw;
    border-radius: 1vw;
    background: linear-gradient(to bottom, rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%);   
 box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
 color: #ffffff;
    font-family: "Inter", sans-serif;
}