.pedido-image-container{  
    margin-top: 1vw;
    border-radius: 0.5vw;
    background-color: #3D50DF;
    padding-left: 1vw;
    padding-top: 0.25vw;
}
.pedido-container{
    border-radius: 0.5vw;
    color: #1C1C8A;
    background-color: #F3F3F3;
}
.pedido-image-container img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5vw;
    padding: 10px;
}

.pedido-container-mensagem{
    padding: 1vw;
    display: flex;
    justify-content: space-between;
}
.pedido-container-mensagem span{
    font-size: 1vw;
}