    .tabs {
        display: flex;
        gap: 20px;
        border-bottom: 2px solid #1C1C8A;
        margin-bottom: 25px;
    }
    .formPerfil{
        height: 65vh;
        overflow-y: scroll;
    }
    .tab {
        padding: 10px 20px;
        cursor: pointer;
        font-weight: bold;
        font-size: 15px;
        color: #636363;
    }
    .active-tab {
        color: #1C1C8A;
        border-bottom: 3px solid #1C1C8A;
    }

    /* Foto */
    .photo-area {
        float: left;
        margin-right: 40px;
        text-align: center;
    }
    .circle-photo {
        width: 120px;
        height: 120px;
        background: #f1f1f1;
        border-radius: 50%;
        margin-bottom: 15px;
    }
    .btn-photo {
        background: #324693;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 6px;
        cursor: pointer;
    }

    /* Form */
    .form { overflow: hidden; }

    label {
        font-size: 10px;
        margin-bottom: 5px;
        display: block;
        font-weight: bold;
    }
    input, select {
        width: 300px;
        padding: 10px;
        border-radius: 6px;
        border: 1px solid #ccc;
        margin-bottom: 20px;
        
    }
    .radio{
        width: 50px;
        margin-bottom: 0;
    }

    .row {
        display: flex;
        gap: 20px;
    }

    .doc-type {
        display: flex;
        gap: 20px;
        align-items: center;
        margin-bottom: 20px;
    }

    .save-btn {
        margin-top: 20px;
        background: #324693;
        color: white;
        padding: 12px 25px;
        border-radius: 6px;
        border: none;
        cursor: pointer;
    }