body{
    margin:0;
     background-image: linear-gradient(rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.65)),
        url("../public/APP_BG1.png");
    overflow: hidden;
}

.flex{
    display: flex;
    justify-content: space-between;
}


