.goBackBtn{
    width: 4vw ;
}

.btnIdioma{
    border: 0;
    background-color: #1C1C8A;
    color:white;
    font-family: 'Alexandria';
    margin-bottom: 10px;
    padding: 1vw;
    display: block;
    max-width: 30%;
    width: 100%;
}

.btnSobre{
    border: 0;
    background-color: #1C1C8A;
    color:white;
    font-family: 'Alexandria';
    padding:1vw;
    width: 100%;
    max-width: 30%;
}

.alignButtons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}