.goBackBtn{
    width: 4vw ;
}



.Btn{
    font-size: 1vw;
    border: 0;
    background-color: #1C1C8A;
    color:white;
    font-family: 'Alexandria';
    padding:1vw;
    width: 100%;
    max-width: 20%;
    
    border-radius: 0.4vw;
    margin-bottom: 1vw;
}
.iconArrow{
    width: 0.5vw;
}
.alignButtons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}

