.barraMenu {
    background-color: #E1E8F8;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    padding: 40px;
    margin: 50px;
    border-radius: 15px;

}

nav, a, h1 {
    display: flex;
    flex-direction: column;
    text-decoration: 0;
    color: #171766;
    font-family: "Alexandria", sans-serif;
    font-weight: normal;
    gap: 20px;
}

.terminarSessao {
    color: #AB2020;
}

.definicoes {
    margin-top: 50%;
}

a {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

h1 {
    color: #1C1C8A;
    font-weight: 450;
    font-size: 38px;
    margin: 0;
    margin-bottom: 40px;
}

.barra {
    display: flex;
    align-self: center;
    margin-top: 25px;
    width: 90%;
    height: 1px;
    background-color: #B7C2DA;
    
}

.iconsMenu img{
    width: 18px;
}

