.barraMenu {
    background-color: #E1E8F8;
    display: flex;
    flex-direction: column;
    width: 14vw;
    padding: 3%;
    margin: 30px;
    border-radius: 15px;

}

nav, a, h1 {
    display: flex;
    flex-direction: column;
    text-decoration: 0;
    color: #171766;
    font-family: "Alexandria", sans-serif;
    font-weight: normal;
    gap: 3vh;
}

.terminarSessao {
    color: #AB2020;
}



a {
    font-size: 1vw;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

h1 {
    color: #1C1C8A;
    font-weight: 450;
    font-size: 2vw;
    margin: 0;
    margin-bottom: 10%;
}

.barra {
    display: flex;
    align-self: center;
    width: 90%;
    height: 1px;
    background-color: #B7C2DA;
    
}

.iconsMenu img{
    width: 1.5vw;
}

