.portalMenu{
    background-color: #E1E8F8;
    width: 90vw;
    padding: 3%;
    margin: 30px;
    border-radius: 15px;
    height: 60vh;
}

.navPortal{
    align-self: center;
}

.navPortal img{
    width: 1.5vw;
}

.osSeusPasses{
        font-family: "Alexandria", sans-serif;
        color:#1C1C8A;
        opacity: 50%;
        font-weight: 500;
        font-size: 1.4vw;
}

.criarPasse{
    width: 20vw;
}

