.portalMenu{
    background-color: #E1E8F8;
    width: 90vw;
    padding: 3%;
    margin: 30px;
    border-radius: 15px;
    height: 60vh;
}

.navPortal{
    align-self: center;
}

.navPortal img{
    width: 1.5vw;
}

.osSeusPasses{
        font-family: "Alexandria", sans-serif;
        color:#1C1C8A;
        opacity: 50%;
        font-weight: 500;
        font-size: 1.4vw;
}

.hrPortal {
    display: flex;
    align-self: center;
    width: 100%;
    height: 1.5px;
    background-color: #B7C2DA;
    
}

.criarPasse{
    border-radius: 1vw;
    width: 20vw;
}
.criarPasse:hover{
transform: scale(1.05, 1.05);
transition: all 0.5s;
transition-timing-function: cubic-bezier(0.022, 0.736, 0.198, 0.997);
box-shadow: 0px 0px 15px rgb(205, 205, 205) ;
}

