.portalMenu{
    background-color: #E1E8F8;
     width: 65vw;
    padding: 3%;
    margin: 30px;
    border-radius: 15px;
}

.navPortal{
    align-self: center;
}

.navPortal img{
    width: 1.5vw;
}

.osSeusPasses{
        font-family: "Alexandria", sans-serif;
        color:#1C1C8A;
        opacity: 50%;
        font-weight: 500;
        font-size: 1.5vw;
}

.criarPasse{
    border-radius: 20px;
    width: 20vw;
}
.criarPasse:hover{
transform: scale(1.05, 1.05);
transition: all 0.5s;
box-shadow: 0px 0px 5px black ;
}

