.map-wrap {
  position: relative;
  width: 100%;
  height: calc(100vh - 77px); /* calculate height of the screen minus the heading */
}

.map {
  width: 100%;
  height: 65%;
  border-style: solid;
  border-width: 2px;
  border-color: #9fa5b1;
  border-radius: 0.75rem;
}

